body {
  background-color: #333;
  color: #fff;
  overflow-x:hidden;
}

.App {
  text-align: center;
}

.taskBg {
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #00f2ff;
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}

.mr-20 {
  margin-right: 20px;
}

a {
  cursor: pointer;
  outline: none;
}

btn.btn-lg.btn-success {
  color: #fff;
  background-color: #2580ff;
  border-color: #70b7ff!important;
}


.btn {
  color: #fff;
  background-color: #2580ff;
  border-color: #0153a4!important;
  outline: none!important;
}

.btn-success {
  color: #fff;
  background-color: #2580ff!important;
}

.btn-success:hover {
  color: #2580ff;
  background-color: #ffffff!important;;
  border-color: #0153a4!important;;
}

.btn-success:active {
  color: #2580ff;
  background-color: #ffffff!important;;
  border-color: #0153a4!important;;
}

.btn-success.btn-success:selected {
  color: #2580ff;
  background-color: #ffffff!important;;
  border-color: #0153a4!important;;
}

.btn-success:focus {
  color: #2580ff;
  background-color: #ffffff!important;;
  border-color: #0153a4!important;;
}

.btn-success:visited {
  color: #2580ff;
  background-color: #ffffff!important;;
  border-color: #0153a4!important;;
}


.btn-success:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  border: none !important
}
